**/.DS_Store
**/*.ignore.ts
/_archive
/node_modules
/dist

# Un-comment the following line for better intellisense for local install
# /src/vector/

# Keep these no matter what
/src/vector/dist/
/src/vector/node_modules/
